html {
    background-color: fff;
}

body {
    display: flex;
    justify-content: center;
}

.cv {
    background-color: #ddd;
    margin: 10px;
    width: 800px;
}

.atas {
    display: flex;
    justify-content: start;
    background-color: #333;
    padding: 20px;
}

.gambar {
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.judul {
    color: white;
}

.navbar {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px;
    background-color: black;

}

.menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.tentang {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.video {
    text-align: center;
}

.audio {
    text-align: center;
}

.Riwayat-Pendidikan {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.Riwayat-Pendidikan table {
    width: 100%;
}

.kontak {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.kontak button {
    background-color: lightgreen;
}

.bawah {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
}